@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@200;400;500&family=Titillium+Web&display=swap');
* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.team {
  width: 100%;
  /* background-image: url('../../img/team.svg'); */
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  padding-top: 1vh;
  background-attachment: fixed;




 
}
.teamContainer {
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  border: 1px solid black;
  background-color: rgba(238, 226, 236, 0.329);
  border-radius: 1.25em;
  box-sizing: border-box;
  padding-top: 20px;
  width: 400px;
}

.teamContainer:nth-child(2) {
  margin-left: 50px;
  margin-right: 50px;
}

.teamImg {
  /* position: absolute;
  z-index: -2;
  width: 40%;
  top: 100px;
  right: 0; */
  /* height: 100%; */
  background-image: url('../../img/team.svg');
  height: 100%;
  width: 100%;
 
} 

.team-title {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin: 3% auto;
  color: #fe5244;
}

.team-wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* border: 1px solid black;
  background-color: rgba(238, 226, 236, 0.329);
  border-radius: 1.25em; */
  /* padding: 0 5%; */
}

.team-member {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 270px;
  margin-bottom: 30px;
  text-align: center;
  
}

.team-member__name {
  font-size: 28px;
  margin-top: 6%;
}
.team-member__hub {
  color: black;
  transition: 0.3s;
}
.team-member__hub:hover {
  color: #fe5244;
}

.team-member__img {
  border-radius: 8px;
  width: 180px;
  object-fit: cover;
  margin: auto;
  display: block;
}

.team-member__role {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
}

.team-member__role span {
  background-color: #fe5244;
  color: white;
  padding: 5px;
  width: 100px;
  border-radius: 10px;
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  margin: 0 5px;
}

@media (max-width: 767px) {
  .team-wrapper {
    flex-wrap: wrap;
    padding: 0 10%;
    align-items: center;
    gap: 5%;
  }

  .team-member {
    max-width: 70%;
    min-width: 47%;
    min-height: 429px;
    margin-bottom: 25px;
  }

  .team-title {
    font-size: 45px;
  }

  .team-member__name {
    margin: 25px 0;
  }
}

@media (max-width: 690px) {
  .team-wrapper {
    gap: 10%;
  }

  .team-member {
    min-width: 35%;
    margin-bottom: 25px;
    max-width: 28%;
  }
}

@media (max-width: 600px) {

  .team-member__name {
    margin: 10px 0;
    font-size: 22px;
  }

  .team-member__role {
    flex-direction: column;
    gap: 5%;
    justify-content: center;
  }

  .team-member__role span {
    margin: 5px 0;
    font-size: 14px;
  }

  .team-member__img {
    width: 150px;
  }
}
