@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@200;400;500&family=Titillium+Web&display=swap');
.audio-calls {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../img/audio-call.jpg') no-repeat;
  background-size: cover;
  background-position: center;

  &__start {
    width: 85vw;
    height: 80vh;
    display: flex;
    justify-content: first baseline;
    align-items: center;
    flex-direction: column;
    background-color: rgba(243, 241, 240, 0.9);
    border-radius: 20px;

    &--level {
      cursor: pointer;
      width: 200px;
      height: 50px;
      margin-left: 10px;
      margin-right: 10px;
      
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
      border-radius: 10px;
      transition: 0.3s;
      border: 1px solid #ff5e00;
      &:hover {
        color: white;
        background-color: tomato;
      }
    
    }

    &--back {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 60px;
      height: 60px;
      border-radius: 10px;
      border: none;
      background: url('../../img/undo.png') no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--back:hover {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 60px;
      height: 60px;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      background: url('../../img/undo.png') no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--correct--title {
      font-size: 1.25rem;
      color: rgb(39, 209, 39);
    }

    &--incorrect--title {
      font-size: 1.25rem;
      color: rgb(221, 45, 45);
    }
  }

  &__arena {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.results {
  height: 100%;
  margin: 10px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.instructions {
  width: 600px;
 p {
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
 }

  &--list {
    font-size: 24px;
    text-align: left;

  }
  li {
    list-style: disc;
  }

  &--buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }
}

.audio-calls h1 {
  text-align: center;
  font-size: 55px;
  color: #ff5e00;
  margin-bottom: 25px;
  margin-top: 20px;
  font-family: 'Titillium Web', sans-serif;
    font-style: normal;
}

.audio-calls h2 {
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: 400;
}

.audio-calls select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid #ff5e00;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #ff5e00;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.choice {
  width: 200px;
  height: 60px;
  margin: 15px;
  font-size: 1rem;
  border-radius: 15px;
  border: 1px solid #ff5e00;
}

.choice:hover {
  width: 200px;
  height: 60px;
  margin: 15px;
  font-size: 1rem;
  color: #fff;
  border-radius: 15px;
  border: 1px solid #ff5e00;
  background-color: #ff5e00;
}

.audio {
  width: 80px;
  height: 80px;
  margin: 15px;
  font-size: 1.25rem;
  border-radius: 15px;
  border: none;
  background: url('../../img/sound.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.audio:hover {
  width: 80px;
  height: 80px;
  margin: 15px;
  font-size: 1.25rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background: url('../../img/sound.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.next {
  width: 120px;
  height: 50px;
  margin: 10px;
  font-size: 1.25rem;
  border-radius: 15px;
  border: none;
  background: url('../../img/right-arrow.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.next:hover {
  width: 120px;
  height: 50px;
  margin: 10px;
  font-size: 1.25rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background: url('../../img/right-arrow.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.new-game {
  width: 120px;
  height: 50px;
  margin: 10px;
  font-size: 1.25rem;
  border-radius: 15px;
  border: 1px solid #ff5e00;
  background-size: cover;
  background-position: center;
}

.correct {
  background-color: rgb(49, 212, 85);
  color: #000;
}

.incorrect {
  background-color: #da4444;
  color: #000;
}

.answer-image {
  display: inline-block;
  height: 175px;
  width: 175px;
  border-radius: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.answer-word {
  font-size: 1.5rem;
}
