@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@200;400;500&family=Titillium+Web&display=swap');
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // width: 1440px;
  .container {
    width: 100%;
    margin-top: 45px;
  }
}
.homePage {
  display: flex;
  position: relative;
  height: 640px;
  align-items: center;
  justify-content: flex-end;
  .bgDesign {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .bgImg {
      position: absolute;
      bottom: 0;
      width: auto;
    }
    .rightSide {
      right: 0;
      top: 110px;
    }
  }
  .mainText {
    position: relative;
    margin-right: 80px;

    h2 {
      font-family: 'Titillium Web', sans-serif;
      font-weight: 400;
      font-size: 48px;
      line-height: 55px;
      font-style: normal;
      margin-bottom: 5px;
    }
    p {
      font-family: 'Titillium Web', sans-serif;
      font-size: 24px;
      line-height: 48px;
      text-align: center;
      a {
        text-decoration: none;
        color: red;
      }
    }
  }
}
.ebookPage {
  display: flex;
  flex-direction: column;
  position: relative;

  height: 592px;
  justify-content: space-between;
  .headText {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    line-height: 48px;
    text-align: center;
    color: #fe5244;
  }
  .ebookDesign {
    margin-top: 96px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    .ebookImg {
      position: absolute;
      margin-top: 10px;
    }
    .rightImg {
      right: 90px;
      bottom: 90px;
    }
  }
  .eBookStart {
    text-align: center;
    margin-right: 700px;
    margin-bottom: 200px;
    h2 {
      font-family: 'Titillium Web', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 48px;
      line-height: 72px;
    }
    .startBtn {
      width: 213px;
      height: 88px;
      border-radius: 20px;
      background: red;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 40px;
      line-height: 72px;
      text-align: center;
      color: white;
      border: none;
      cursor: pointer;
    }
  }
}
.gamesSection {
  position: relative;
  height: 544px;
  // display: flex;

  .headText {
    color: #fe5244;
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-size: 64px;
    line-height: 48px;
    text-align: center;
    font-weight: 400;
  }
  .leftImg {
    position: absolute;
    top: 85px;
    left: 0;
  }
  .gamesField {
    display: flex;
    justify-content: space-between;

    .leftField {
      margin-left: 70px;
      margin-top: 15px;
      .leftText {
        font-family: 'Titillium Web', sans-serif;
        font-style: normal;
        font-size: 48px;
        line-height: 72px;
        font-weight: 400;
      }
    }
    .rightField {
      position: relative;
      width: 38%;

      .first {
        position: absolute;
        top: 0;
        width: 50%;
      }
      .second {
        position: absolute;
        top: 132px;
        right: 30px;
        width: 50%;
      }
    }
  }
}
.statSection {
  height: 557px;
  // padding-top: 41px;
  position: relative;
  .statText {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    color: #fe5244;
    font-weight: 400;
    font-size: 64px;
    line-height: 48px;
    text-align: center;
  }
  .statBgImg {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
  }
  .statsField {
    display: flex;
    justify-content: space-between;

    .leftStatField {
      position: relative;
      width: 39%;

      .timerImg {
        position: absolute;
        top: 10px;
        left: 0;
      }
      .statImg {
        position: absolute;
        top: 10px;
        right: 0;
      }
    }

    .rightStatField {
      // text-align: center;
      margin-right: 180px;
      text-align: center;
      margin-bottom: 80px;

      .rightText {
        font-family: 'Titillium Web', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 72px;
        margin-bottom: 20px;
      }
      .statsBtn {
        background: red;
        width: 213px;
        height: 88px;
        border-radius: 20px;
        cursor: pointer;
        border: 0;
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        font-size: 40px;
        line-height: 72px;
        text-align: center;
      }
    }
  }
}
.aboutSection {
  height: 623px;

  .aboutBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .aboutHeader {
      font-family: 'Titillium Web', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 64px;
      line-height: 48px;
      text-align: center;
      color: #fe5244;
      margin-bottom: 40px;
    }
    .aboutText {
      font-family: 'Titillium Web', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 48px;
      line-height: 72px;
      text-align: center;
      margin-bottom: 20px;
    }

    .teamBtn {
      width: 213px;
      height: 88px;
      border: 0;
      border-radius: 20px;
      background: red;
      color: white;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 40px;
      line-height: 72px;
      cursor: pointer;
    }
  }
}
.stat-page {
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 130px;
  .stat-page__header {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    margin-top: 20px;
    line-height: 72px;
    text-align: center;
  }

  .stat-table {
    width: 100%;
    margin: 32px auto;
    display: flex;
    overflow: auto;
    align-items: center;
    justify-content: center;

    .stat-table__body {
      width: 100%;
      display: table;
      border-spacing: 0;
      border-collapse: collapse;

      .stat-table__head {
        display: table-header-group;

        .stat-table__row {
          background-color: #fff1f0;

          .row__head {
            font-family: 'Titillium Web', sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1.5rem;
            // line-height: 1.5rem;
            // padding: 6px 24px 6px 10px;
            letter-spacing: 0.01071em;
            vertical-align: inherit;
          }
        }
      }
      .stat-table__field {
        display: table-row-group;

        .field__row {
          color: inherit;
          display: table-row;
          outline: 0;
          vertical-align: middle;

          .field__row-root {
            padding: 6px 24px 6px 16px;
            display: table-cell;
            font-size: 1.3rem;
            font-family: 'Titillium Web', sans-serif;
            font-weight: 400;
            border-bottom: 1px solid rgba(224, 224, 224, 1);
            letter-spacing: 0.01071em;
            vertical-align: inherit;
            line-height: 1.43;
          }

          .data {
            text-align: center;
          }
        }
        tr:last-child {
          background-color: #fff1f0;
        }
      }
    }
    .table {
      max-width: 800px;
      min-width: 464px;
    }
  }
}
.choose-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;

  .first {
    position: relative;
    left: -20px;
    transition: 1s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  .second {
    position: relative;
    transition: 1s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 1000px) {
  main .container {
    margin-bottom: 5%;
  }

  .homePage .mainText {
    backdrop-filter: blur(4px);
  }

  .homePage .bgDesign .bgImg {
    width: 100%;
  }

  .ebookPage .eBookStart .startBtn,
  .statSection .statsField .rightStatField .statsBtn,
  .aboutSection .aboutBody .teamBtn {
    width: 150px;
    height: 54px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

  .ebookPage .eBookStart h2 {
    font-size: 32px;
    backdrop-filter: blur(5px);
  }

  .ebookPage .eBookStart {
    padding-left: 10%;
    width: 49%;
    z-index: 9;
  }

  .ebookPage .ebookDesign .ebookImg {
    max-width: 100%;
  }

  .gamesSection .gamesField .rightField .second {
    width: 50%;
  }

  .gamesSection .gamesField .leftField .leftText {
    font-size: 35px;
  }

  .gamesSection .leftImg {
    max-width: 100%;
  }

  .statSection .statsField .rightStatField .rightText {
    font-size: 32px;
  }

  .statSection .statsField {
    margin-top: 10%;
  }

  .statSection .statsField .rightStatField {
    z-index: 9;
  }

  .homePage .mainText h2 {
    text-align: center;
  }

  .homePage .mainText {
    margin-right: 12%;
  }
}

@media (max-width: 676px) {
  .ebookPage .eBookStart {
    width: 55%;
  }

  .ebookPage .eBookStart h2,
  .gamesSection .gamesField .leftField .leftText,
  .statSection .statsField .rightStatField .rightText,
  .aboutSection .aboutBody .aboutText {
    font-size: 27px;
  }

  .ebookPage .headText,
  .gamesSection .headText,
  .statSection .statText,
  .aboutSection .aboutBody .aboutHeader {
    font-size: 53px;
  }
}

@media screen and (min-width: 1440px) {
  main {
    // width: 1440px;
    .container {
      width: 100%;
      margin-top: 45px;
    }
  }
}
