.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background: hsl(4, 100%, 97%);
  /* position: relative; */
}

.nav__ul {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.nav__ul a {
  font-size: 16px;
  line-height: 16px;
  color: #fe5244;
  font-weight: 700;
  transition: 0.3s;
}

.nav__ul a:hover {
  border-bottom: #fe5244 solid 1px;
}

.nav__logo {
  width: 117px;
  height: 48px;
  object-fit: contain;
}

.auth-block button {
  width: 90px;
  height: 32px;
  background: #fe5244;
  border-radius: 15px;
  line-height: 16px;
  color: white;
  font-weight: 700;
  transition: 0.3s;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}

.auth-block button:hover {
  background: #d83021;
}

.bar-icon {
  color: #fe5244;
  width: 70px;
  display: none !important;
  cursor: pointer;
  transition: 0.3s;
  filter: saturate(1.7);
}

.bar-icon:hover {
  transform: scale(1.2);
}

@media (max-width: 767px) {
  .bar-icon {
    display: block !important;
    z-index: 111;
  }

  .nav__ul {
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: -50%;
    height: 0;
    transition: 0.7s;
    flex-direction: column;
    background: hsl(4, 100%, 97%);
    align-items: center;
    padding: 0;
    transition: 0.5s ease-out;
    box-sizing: border-box;
    z-index: 999;
  }

  .nav__ul.active {
    height: auto;
    width: 90%;
    top: 10%;
  }

  .nav__ul-li {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: rgb(180, 180, 180) 0.01px solid;
    height: 0;
  }

  .nav__ul.active .nav__ul-li {
    height: auto;
  }

  .nav__ul-li:hover {
    background: hsl(0, 19%, 66%);
  }
}
